textarea {
    min-height: 400px;
}

#email-tag {
    border: 2px solid black;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    flex-direction: row;
    margin-bottom: 3px;

}

#email-tag:hover {

    cursor: pointer;
    background-color: #283618;
    color: #fefae0;

}

#time {

    margin-left: auto;

    padding: 3px;
}

#subject {

    margin: 3px;
    padding: 3px;

}

#sender {
    margin: 3px;
    padding: 3px;
    margin-right: 9px;
    font-weight: bold;
}