textarea {
    min-height: 400px;
}

.email-tag {
    border: 2px solid black;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    flex-direction: row;
    margin-bottom: 3px;

}

#archive,
#unarchive {

    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    border: 2px solid blue;
    background-color: white;
    font-weight: bold;
    color: blue;

}

#archive,
#unarchive:hover {

    background-color: #283618;
    color: #fefae0;

}

#archive,
#unarchive:disabled {

    background-color: grey;
    color: #fefae0;
    cursor: not-allowed;

}






.email-tag:hover {

    cursor: pointer;
    background-color: #283618;
    color: #fefae0;

}

#time {

    margin-left: auto;

    padding: 3px;
}

#subject {

    margin: 3px;
    padding: 3px;

}

#sender {
    margin: 3px;
    padding: 3px;
    margin-right: 9px;
    font-weight: bold;
}

#replyid {

    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    border: 2px solid blue;
    background-color: white;
    font-weight: bold;
    color: blue;

}

#replyid:hover {
    background-color: #283618;
    color: #fefae0;


}